<!DOCTYPE html>
<html lang="pl">
<head>
  <meta charset="UTF-8">
  <title>Biblioteczka</title>
  <link rel="stylesheet"
        type="text/css"
        href="../dist/main.css"
  >
  <meta name="viewport" content="width=device-width,initial-scale=1" />
</head>
<body>


<header class="header">
  <div class="header__top-bar container">
    <div class="brand">
      <img src="../images/960x960.png"
           alt="Logo"
           class="brand__logo"
      />
      <span class="brand__name fc-white fw-700">
        Biblioteczka
      </span>
    </div>

    <div class="account account--logged-out">
      <a class="account__button button"
        href="register.html"
      >
        Zarejestruj się
      </a>
      <a class="account__button button"
        href="login.html"
      >
        Zaloguj się
      </a>
    </div>
  </div>
  <div class="header__menu">
    <nav class="header__menu__list container">
      <a class="header__menu__list__item"
         href="../index.html"
      >
        Strona główna
      </a>
    </nav>
  </div>
</header>


<main>
  <section class="container section section--login">
    <form class="form form--login" action="userAdminView.html">
      <h1 class="form__header">
        Zaloguj się
      </h1>
      <div class="field field--text">
        <label class="field__label">
          <span class="field__label__text visually-hidden">Login</span>
          <input class="field__label__input"
                 placeholder="Login"
                 name="login"
                 type="text"
          >
        </label>
      </div>
      <div class="field field--password">
        <label class="field__label">
          <span class="field__label__text visually-hidden">Hasło</span>
          <input class="field__label__input"
                 placeholder="Hasło"
                 name="password"
                 type="password"
          >
        </label>
      </div>
      <div class="field field--submit">
        <input class="field__input button" type="submit" value="Zaloguj">
      </div>
    </form>
  </section>
</main>

<footer class="footer">
  <span>
    Bartłomiej Mazurowski, s16730
  </span>
</footer>

<script src="../dist/bundle.js"></script>
</body>
</html>
