<!DOCTYPE html>
<html lang="pl">
<head>
  <meta charset="UTF-8">
  <title>Biblioteczka</title>
  <link rel="stylesheet"
        type="text/css"
        href="../dist/main.css"
  >
  <meta name="viewport" content="width=device-width,initial-scale=1" />
</head>
<body>

<header class="header">
  <div class="header__top-bar container">
    <div class="brand">
      <img src="../images/960x960.png"
           alt="Logo"
           class="brand__logo"
      />
      <span class="brand__name fc-white fw-700">
        Biblioteczka
      </span>
    </div>

    <div class="account account--logged-in">
      <a class="account__block"
         href="user.html"
      >
        <img class="account__block__image"
             src="../images/person.png"
             alt="User avatar"
        >
        <span class="account__block__name">Lorem ipsum</span>
      </a>
    </div>
  </div>
  <div class="header__menu">
    <nav class="header__menu__list container">
      <a class="header__menu__list__item"
         href="../index.html"
      >
        Strona główna
      </a>
      <a class="header__menu__list__item"
         href="shelves.html"
      >
        Półki
      </a>
    </nav>
  </div>
</header>

<main>
  <section class="section section--shelf">
    <div class="container shelf shelf--full">
      <div class="actions actions--shelf">
        <a class="actions__action"
           href="register.html"
        >
          Edytuj
        </a>
      </div>

      <h1>
        Przeczytane
      </h1>
      <span class="shelf__count">
        11 pozycji
      </span>

      <div class="list list--block">
        <div class="list__item book book--list-item">
          <img class="book__thumbnail"
               src="../images/960x960.png"
               alt="Miniatura"
          >
          <a class="book__title"
             href="book.html"
          >
            Lorem ipsum
          </a>
          <a class="book__author"
             href="author.html"
          >
            Jan Nowak
          </a>
        </div>
        <div class="list__item book book--list-item">
          <img class="book__thumbnail"
               src="../images/960x960.png"
               alt="Miniatura"
          >

          <a class="book__title"
             href="book.html"
          >
            Lorem ipsum dolor
          </a>
          <a class="book__author"
             href="author.html"
          >
            Jan Nowak
          </a>
        </div>
        <div class="list__item book book--list-item">
          <img class="book__thumbnail"
               src="../images/960x960.png"
               alt="Miniatura"
          >
          <a class="book__title"
             href="book.html"
          >
            Lorem ipsum
          </a>
          <a class="book__author"
             href="author.html"
          >
            Jan Nowak
          </a>
        </div>
        <div class="list__item book book--list-item">
          <img class="book__thumbnail"
               src="../images/960x960.png"
               alt="Miniatura"
          >
          <a class="book__title"
             href="book.html"
          >
            Lorem ipsum dolor sit amet
          </a>
          <a class="book__author"
             href="author.html"
          >
            Jan Nowak
          </a>
        </div>
        <div class="list__item book book--list-item">
          <img class="book__thumbnail"
               src="../images/960x960.png"
               alt="Miniatura"
          >
          <a class="book__title"
             href="book.html"
          >
            Lorem ipsum
          </a>
          <a class="book__author"
             href="author.html"
          >
            Jan Nowak
          </a>
        </div>
        <div class="list__item book book--list-item">
          <img class="book__thumbnail"
               src="../images/960x960.png"
               alt="Miniatura"
          >
          <a class="book__title"
             href="book.html"
          >
            Lorem ipsum
          </a>
          <a class="book__author"
             href="author.html"
          >
            Jan Nowak
          </a>
        </div>
        <div class="list__item book book--list-item">
          <img class="book__thumbnail"
               src="../images/960x960.png"
               alt="Miniatura"
          >

          <a class="book__title"
             href="book.html"
          >
            Lorem ipsum dolor
          </a>
          <a class="book__author"
             href="author.html"
          >
            Jan Nowak
          </a>
        </div>
        <div class="list__item book book--list-item">
          <img class="book__thumbnail"
               src="../images/960x960.png"
               alt="Miniatura"
          >
          <a class="book__title"
             href="book.html"
          >
            Lorem ipsum
          </a>
          <a class="book__author"
             href="author.html"
          >
            Jan Nowak
          </a>
        </div>
        <div class="list__item book book--list-item">
          <img class="book__thumbnail"
               src="../images/960x960.png"
               alt="Miniatura"
          >
          <a class="book__title"
             href="book.html"
          >
            Lorem ipsum dolor sit amet
          </a>
          <a class="book__author"
             href="author.html"
          >
            Jan Nowak
          </a>
        </div>
        <div class="list__item book book--list-item">
          <img class="book__thumbnail"
               src="../images/960x960.png"
               alt="Miniatura"
          >
          <a class="book__title"
             href="book.html"
          >
            Lorem ipsum
          </a>
          <a class="book__author"
             href="author.html"
          >
            Jan Nowak
          </a>
        </div>
        <div class="list__item book book--list-item">
          <img class="book__thumbnail"
               src="../images/960x960.png"
               alt="Miniatura"
          >
          <a class="book__title"
             href="book.html"
          >
            Lorem ipsum
          </a>
          <a class="book__author"
             href="author.html"
          >
            Jan Nowak
          </a>
        </div>
      </div>
    </div>
  </section>
</main>

<footer class="footer">
  <span>
    Bartłomiej Mazurowski, s16730
  </span>
</footer>

<script src="../dist/bundle.js"></script>
</body>
</html>
