<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Biblioteczka</title>
  <link rel="stylesheet"
        type="text/css"
        href="./dist/main.css"
  >
</head>
<body>


<header class="header">
  <div class="header__top-bar container">
    <div class="brand">
      <img src="images/960x960.png"
           alt="Logo"
           class="brand__logo"
      />
      <span class="brand__name fc-white fw-700">
        Biblioteczka
      </span>
    </div>

    <div class="account account--logged-out">
      <a class="account__button button"
         href="templates/register.html"
      >
        Zarejestruj się
      </a>
      <a class="account__button button"
         href="templates/login.html"
      >
        Zaloguj się
      </a>
    </div>
  </div>
  <div class="header__menu">
    <nav class="header__menu__list container">
      <a class="header__menu__list__item"
         href="index.html"
      >
        Strona główna
      </a>
    </nav>
  </div>
</header>


<main>
  <section class="section section--books section--background-light">
    <div class="container">
      <h1>
        Popularne książki
      </h1>
      <div class="list list--block">
        <div class="list__item book book--list-item">
          <img class="book__thumbnail"
               src="./images/960x960.png"
               alt="Miniatura"
          >
          <a class="book__title"
             href="./templates/book.html"
          >
            Lorem ipsum
          </a>
          <a class="book__author"
             href="./templates/author.html"
          >
            Jan Nowak
          </a>
        </div>
        <div class="list__item book book--list-item">
          <img class="book__thumbnail"
               src="./images/960x960.png"
               alt="Miniatura"
          >

          <a class="book__title"
             href="./templates/book.html"
          >
            Lorem ipsum dolor
          </a>
          <a class="book__author"
             href="./templates/author.html"
          >
            Jan Nowak
          </a>
        </div>
        <div class="list__item book book--list-item">
          <img class="book__thumbnail"
               src="./images/960x960.png"
               alt="Miniatura"
          >
          <a class="book__title"
             href="./templates/book.html"
          >
            Lorem ipsum
          </a>
          <a class="book__author"
             href="./templates/author.html"
          >
            Jan Nowak
          </a>
        </div>
        <div class="list__item book book--list-item">
          <img class="book__thumbnail"
               src="./images/960x960.png"
               alt="Miniatura"
          >
          <a class="book__title"
             href="./templates/book.html"
          >
            Lorem ipsum dolor sit amet
          </a>
          <a class="book__author"
             href="./templates/author.html"
          >
            Jan Nowak
          </a>
        </div>
        <div class="list__item book book--list-item">
          <img class="book__thumbnail"
               src="./images/960x960.png"
               alt="Miniatura"
          >
          <a class="book__title"
             href="./templates/book.html"
          >
            Lorem ipsum
          </a>
          <a class="book__author"
             href="./templates/author.html"
          >
            Jan Nowak
          </a>
        </div>
        <div class="list__item book book--list-item">
          <img class="book__thumbnail"
               src="./images/960x960.png"
               alt="Miniatura"
          >
          <a class="book__title"
             href="./templates/book.html"
          >
            Lorem ipsum
          </a>
          <a class="book__author"
             href="./templates/author.html"
          >
            Jan Nowak
          </a>
        </div>
        <div class="list__item book book--list-item">
          <img class="book__thumbnail"
               src="./images/960x960.png"
               alt="Miniatura"
          >

          <a class="book__title"
             href="./templates/book.html"
          >
            Lorem ipsum dolor
          </a>
          <a class="book__author"
             href="./templates/author.html"
          >
            Jan Nowak
          </a>
        </div>
        <div class="list__item book book--list-item">
          <img class="book__thumbnail"
               src="./images/960x960.png"
               alt="Miniatura"
          >
          <a class="book__title"
             href="./templates/book.html"
          >
            Lorem ipsum
          </a>
          <a class="book__author"
             href="./templates/author.html"
          >
            Jan Nowak
          </a>
        </div>
        <div class="list__item book book--list-item">
          <img class="book__thumbnail"
               src="./images/960x960.png"
               alt="Miniatura"
          >
          <a class="book__title"
             href="./templates/book.html"
          >
            Lorem ipsum dolor sit amet
          </a>
          <a class="book__author"
             href="./templates/author.html"
          >
            Jan Nowak
          </a>
        </div>
        <div class="list__item book book--list-item">
          <img class="book__thumbnail"
               src="./images/960x960.png"
               alt="Miniatura"
          >
          <a class="book__title"
             href="./templates/book.html"
          >
            Lorem ipsum
          </a>
          <a class="book__author"
             href="./templates/author.html"
          >
            Jan Nowak
          </a>
        </div>
        <div class="list__item book book--list-item">
          <img class="book__thumbnail"
               src="./images/960x960.png"
               alt="Miniatura"
          >
          <a class="book__title"
             href="./templates/book.html"
          >
            Lorem ipsum
          </a>
          <a class="book__author"
             href="./templates/author.html"
          >
            Jan Nowak
          </a>
        </div>
      </div>
    </div>
  </section>

  <section class="section section--authors">
    <div class="container">
      <h1>
        Popularni autorzy
      </h1>
      <div class="list list--block">
        <a class="list__item author author--list-item" href="./templates/author.html">
          <img class="author__thumbnail"
               src="./images/960x960.png"
               alt="Miniatura"
          >
          <span class="author__name">Jan Nowak</span>
        </a>
        <a class="list__item author author--list-item" href="./templates/author.html">
          <img class="author__thumbnail"
               src="./images/960x960.png"
               alt="Miniatura"
          >
          <span class="author__name">Jan Nowak</span>
        </a>
        <a class="list__item author author--list-item" href="./templates/author.html">
          <img class="author__thumbnail"
               src="./images/960x960.png"
               alt="Miniatura"
          >
          <span class="author__name">Jan Nowak</span>
        </a>
        <a class="list__item author author--list-item" href="./templates/author.html">
          <img class="author__thumbnail"
               src="./images/960x960.png"
               alt="Miniatura"
          >
          <span class="author__name">Jan Nowak</span>
        </a>
        <a class="list__item author author--list-item" href="./templates/author.html">
          <img class="author__thumbnail"
               src="./images/960x960.png"
               alt="Miniatura"
          >
          <span class="author__name">Jan Nowak</span>
        </a>
        <a class="list__item author author--list-item"
           href="./templates/author.html">
          <img class="author__thumbnail"
               src="./images/960x960.png"
               alt="Miniatura"
          >
          <span class="author__name">Jan Nowak</span>
        </a>
        <a class="list__item author author--list-item" href="./templates/author.html">
          <img class="author__thumbnail"
               src="./images/960x960.png"
               alt="Miniatura"
          >
          <span class="author__name">Jan Nowak</span>
        </a>
      </div>
    </div>
  </section>

</main>

<footer class="footer">
  <span>
    Bartłomiej Mazurowski, s16730
  </span>
</footer>

<script src="dist/bundle.js"></script>
</body>
</html>
