@import "variables";
@import "utils";
@import "typography";

* {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  color: $text-color;
  margin: 0;
}

a {
  text-decoration: none;
  color: $text-color;

  &:hover {
    text-decoration: underline;
  }
}

img {
  max-width: 100%;
}

@import "components/header";
@import "components/footer";
@import "components/button";
@import "components/brand";
@import "components/account";
@import "components/section";
@import "components/list";
@import "components/book";
@import "components/author";
@import "components/shelf";
@import "components/user";
@import "components/actions";
@import "components/form/form";
